@model BlazingShop.DomainModel.Appointment
@{
    ViewData["Title"] = "BookAppoint";
}
<body style="background-color: aliceblue;">
    <form asp-action="BookAppoint" method="Post">
        <div class="content px-4">
            <br>
            <h2 class="text-info">Book Appointment</h2>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="p-4 border rounded row">
                <div class="col-8">
                    <div class="form-group row">
                        <div class="col-4">
                            Name
                        </div>
                        <div class="col-8">
                            <input asp-for="CustomerName" class="form-control" />
                            <span asp-validation-for="CustomerName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            Email
                        </div>
                        <div class="col-8">
                            <input asp-for="CustomerEmail" class="form-control" />
                            <span asp-validation-for="CustomerEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            Phone
                        </div>
                        <div class="col-8">
                            <input asp-for="CustomerPhone" class="form-control" />
                            <span asp-validation-for="CustomerPhone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            Date
                        </div>
                        <div class="col-8">
                            <input asp-for="AppointmentDate" class="form-control" placeholder="@Model.AppointmentDate" min="@DateTime.Today.ToString("yyyy-MM-dd")" type="datetime-local" />
                            <span asp-validation-for="AppointmentDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                        </div>
                        <div class="col-4">
                            <a asp-action="Details" asp-controller="UserMvc" asp-route-id="@Model.ProductId" class="btn btn-success form-control">Back to Details</a>
                        </div>
                        <div class="col-4">
                            <input type="submit" class="btn btn-primary form-control" value="Book Now" />
                            @*<button class="btn btn-primary form-control">
                                    Book Now
                                </button>*@
                        </div>
                    </div>
                </div>
                <div class="offset-1 col-3 ">
                    <img src="~/Uploads/@Model.Product.Image" width="100%" style="border-radius:5px; border: 1px solid #bbb9b9" />
                </div>
                <br>
            </div>

        </div>

    </form>
    </body>
    @section Scripts { @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} }

