
@{
    ViewData["Title"] = "Thank you";
}
<head>
    <style>
        body {
            background-image: url('../../images/land1.jpg');
            background-repeat:no-repeat;
            background-size:100% 100%;
            /*background-position:right*/
        }
    </style>
</head>
<body>
    <div>
    <h1 class="text-center container row" ><strong>Thank You</strong></h1>
        </div>
    <div >
        <h3 class="text-info">Your appointment has been submitted!</h3>
    </div>
    <div class="col-12">
        <img src="/images/782-check-mark-success.gif" style="width:200px" />
    </div>
    <div class="col-12">
        <br />
        <span><strong>
            We will reach out to you within one business day after confirming your appointment.</strong>
        </span>
    </div>
</body>

